
<h1>Products</h1>
 
<div *ngFor="let product of products | async" style="width: 300px;">
    <div (clicK) = "onClick(product.id)" class="wall">
        <product-details [product]='product' #childComponent>

        </product-details>
    </div>




    <!---
  <product-details [product]='product'></product-details>
</div>
 -->

