<mat-toolbar style="color: rgb(5, 4, 1); background-color: rgb(31, 165, 189);" > 
   
    <span>Simple Inventory</span>
    <div class="spacer"></div>
    <a mat-button routerLink="product"> Products </a>
    <a mat-button routerLink="add"> Create Product </a>

 </mat-toolbar>