<div *ngIf="product">
    <div>
      <label>Name </label> {{product.title}}
    </div>
    <div>
      <label>Description</label> {{product.description}}
    </div>
    <div>
      <label>Price </label> {{product.price}}
    </div>
    <div>
        <label>Stock </label> {{product.amount}}
    </div>
    <!---
    <span class="button is-small btn-danger" (click)='deleteProduct()'>Delete</span>
-->
    <button routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact: true}"
    routerLink="" 
    href="deleteProduct()">
   
    <span class="nav-link-text">Delete</span>
  </button>

  <button routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact: true}"
    routerLink="product/{{ product.id }}" 
    href="/">
   
    <span class="nav-link-text">Update</span>
  </button>

    <hr />
  </div>