<h3>Create Product</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="product.title" name="title">
    </div>
 
    <div class="form-group">
      <label for="age">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="product.description" name="description">
    </div>

    <div class="form-group">
        <label for="age">Price</label>
        <input type="text" class="form-control" id="price" required [(ngModel)]="product.price" name="price">
      </div>

      <div class="form-group">
        <label for="age"> Stock Status (Amount)</label>
        <input type="text" class="form-control" id="amount" required [(ngModel)]="product.amount" name="amount">
      </div>
      


 
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newProduct()">Add</button>
</div>